nav {
    display: flex;
    flex: 1 0 0;
    border-bottom: 5px solid var(--button-bg-color);
}

nav > * {
    user-select: none;
    min-width: 2em;
}

nav span.menuDropdown {
    position: relative;
    display: inline-block;
}

nav button {
    border: none;
    background: var(--button-bg-color);
    padding: 0.2em 4em;
    cursor: pointer;
}

nav button:hover {
    background: var(--button-bg-color-dark);
}

span.menuDropdown ul {
    position: absolute;
    width: 100%;
}

span.menuDropdown ul li {
    list-style: none;
}
