:root {
    --button-bg-color: #ededed;
    --button-bg-color-dark: #292929;
    --text-size: 100%;
    --text-font: 'Courier New', Courier, monospace;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0%;
  }
  
  main textarea#text {
    font-family: var(--text-font);
    font-size: var(--text-size);
  
    min-width: 100%;
    min-height: 95vh;
  
    resize: none;
    border: none;
    
  }